body{
    background-color: ivory;
    border: 20px solid #1976b4;
    padding: 20px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    font-family: 'Source Sans Pro';
}

#main-title{
    font-size: 60px;
    text-align: center;
}

html{
    background-image: url(images/static.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer{
    margin-top: 50px;
}

ul {
  list-style-type: none;
  font-family: 'Chivo', sans-serif;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.show-name{
    margin-top: 75px;
    color: grey;
}

.top-links{
    font-size: 25px;
    text-align: center;
}

.top-link{
    padding: 20px;
}

a {
    text-decoration: none !important;
}